.popup {
    min-width: 30rem;
    padding: 1rem;
}

.popup h2 {
    font-size: 1rem;
}

.input,
.buttonSetFocus,
.buttonAddForLater,
.buttonLogAndClear {
    width: 100%;
}

.focus {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: aliceblue;
    border-radius: .5rem;
    background: var(--color-primary-2);
    color: white;
}

.focus::before {
    content: "👉";
    margin-right: .5rem;
}

.nextUpItem {
    background: var(--color-blue-100);
    padding: .33rem .75rem;
    cursor: pointer;
    border-radius: var(--sys42-border-radius-md);
}

.nextUpItem:hover {
    background: #dfdfdf;
    background: var(--color-blue-200);
}

.footer {
    font-size: 0.857rem;
    color: var(--color-blue-400);
    margin-top: var(--sys42-spacing-md);
    text-align: center;
}

.footer a {
    color: var(--color-blue-400);
}

.userbrainLogo {
    margin-inline-start: .25em;
    height: 1.25em;
}

.textLinkButtonAddForLater {
    color: var(--color-blue-500);
}